.container {
  background-color: antiquewhite;
  width: 600px;
  height: 400px;
}
.form-group {
  width: 250px;
}
.thanhtien {
  background-color: white;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  color: red;
  text-align: center;
}
.boc {
  display: flex;
  align-items: center;
}
