.container {
  width: 700px;
  height: 400px;
  background-color: antiquewhite;
}
.form-group {
  width: 230px;
}
.boc {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.boc-2 {
  background-color: white;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
