.container {
  width: 900px;
  height: 400px;
  /* border: 1px solid red; */
  margin-top: 50px;
  background-color: papayawhip;
}
.table {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  gap: 20px;
}
.form-group {
  width: 200px;
}
.btn-primary {
  border-radius: 16px;
  width: 150px;
  height: 50px;
  min-height: 50px;
  text-align: center;
}
.tinhtrungbinh {
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 16px;
  color: red;
  background-color: white;
  text-align: center;
}
.boc {
  display: flex;
  align-items: center;
  gap: 10px;
}
