.container {
  /* border: 1px solid red; */
  width: 600px;
  height: 400px;
  background-color: antiquewhite;
}
.title {
  display: flex;
  gap: 20px;
  text-align: center;
}
.form-group {
  width: 200px;
}
.btn-primary {
  border-radius: 16px;
  width: 150px;
  height: 50px;
  min-height: 50px;
  text-align: center;
}
.tinhluong {
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
}
