.container {
  background-color: antiquewhite;
}
.form-group {
  width: 200px;
  height: 50px;
}
.boc {
  display: flex;
  gap: 20px;
}
.tinh {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 16px;
}
.boc-2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.dientichchuvi {
  width: 250px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  text-align: center;
  color: red;
}
